<!DOCTYPE html>
<html>
{% load staticfiles %}
<head>

<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.card {
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
}

.card:hover {
    box-shadow: 0 8px 4px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 2px 16px;
}
</style>
</head>
<body>
{{ mobile_list}}

<div>

</div>



<div class="card" onclick="" id="1">
  <img src="{% static 'img/index.jpeg' %}" alt="Avatar" style="width:100%">
  <div class="container">

  </div>
</div>

</body>
</html>

